.auth-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.auth-box {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-box button:hover {
    background-color: #155a9c;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}

.link {
    margin-top: 15px;
    text-align: center;
    color: #1976d2;
    cursor: pointer;
}

.link a {
    text-decoration: none;
    color: #1976d2;
    font-weight: bold;
}

.link a:hover {
    text-decoration: underline;
}